<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rylan.stlautotext</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/camrynoliver/stl_autotext.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>STL_LIVE</key>
        <string>1</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/camrynoliver/stl_autotext.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/camrynoliver/stl_autotext.err</string>
</dict>
</plist>
